body {
    background-color:darkgrey;
    text-align: center;
}
     
.form {
    background-color: darkkhaki;
    margin-right: 8em;
    margin-left: 8em;
    margin-top: 5em;
    margin-bottom: 5em;
    padding-top: 6em;
    padding-bottom: 6em;
    padding-right: 14em;
    padding-left: 14em;
}

h1 {
    margin-right: 5px;
}

.button {
    background-color: darkorange;
}